@page "/Error"
@using Microsoft.AspNetCore.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>Return to <a href="/">Dashboard</a>.</p>
